#search-filter-icon{
    cursor: pointer;
}
.search-header .filter-column{
    display: none;
}
input:checked+span{
    color: #75C2F6;
}
time{
    bottom: 7px;
    left: 9px;
}


@media (max-width: 767px) {

    .card .card-top-image {
        width: 100% !important;
    }
    .card .card-horizontal time{
        left: 10px !important;
    }
    .card .card-horizontal .fa-play{
        right: 48% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .card .card-horizontal .card-body .channel-img{
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img > img{
margin-right: 0px !important;
    }
    h4{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
